<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category</title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1> <%= category %> Menu</h1>

  <% menuItems.forEach((item) => { %>
    <h2> <%= item.name %> </h2>
    <p> <%= item.details %> </p>
    <p> Rating: <%= item.rating %> </p>
    <p> Price: $<%= item.price %> </p>
    <%  }); %>

</body>
</html>